*{
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    background: green;
    padding: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

nav li {
    color: white;
    font-weight: bold;
}

.homepage, .product, aside div {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border:1px solid gray;
}
main {
    display: flex;
    gap: 20px;
}
main > div {    
    flex: 3;    
}
main aside {  
    flex: 1;    
}
footer{
    background-color: lightgreen;
    height:60px;
    display:flex;
    justify-content: center;
}